/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$custom-primary-palette: (
	50: #0060e6,
	100: #0060e6,
	200: #0060e6,
	300: #0060e6,
	400: #0060e6,
	500: #0060e6,
	600: #0060e6,
	700: #0060e6,
	800: #0060e6,
	900: #0060e6,
	A100: #0060e6,
	A200: #0060e6,
	A400: #0060e6,
	A700: #0060e6,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);

$custom-primary-palette2: (
	50: #e1f4fe,
	100: #b345fc,
	200: #8144fa,
	300: #4f43f7,
	400: #2946f6,
	500: #0349f4,
	600: #034be5,
	700: #0248d1,
	800: #0247bd,
	900: #01479b,
	A100: #2438ff,
	A200: #2434ff,
	A400: #2430ff,
	A700: #2391ea,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);

$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-light-theme(
	(
		color: (
			primary: $custom-primary,
			accent: $custom-accent,
			warn: $custom-warn
		)
	)
);

@include mat.all-component-themes($custom-theme);
